<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="vi">
<head>
    <title>Danh sách tài xế</title>
    <meta charset="UTF-8">
    <div th:insert="home::boot"></div>
</head>
<body>
	<nav th:insert="home::layout"></nav>
	
    <div class="container">
    <div th:if="${success}"
			class="row alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span th:text="${success}"></span>
		</div>
        <div class="panel panel-primary">
            <div class="panel-heading"><br>
                <strong>Danh sách tài xế</strong>
            </div>
            <div class="panel-body">

                <form class="form-inline" method="get" th:action="@{/taiXe}">
                    <div class="form-group  mb-2 mr-3" style="width:70%;">
                       <input class="form-control " type="text" style="width:100%" name="keyword" id="keyword" th:value="${keyword}" required />
                    </div>
                    <input type="submit" class="btn btn-secondary mb-2" value="Search" />

                </form>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ và tên</th>
                        <th>Mã số bằng lái</th>
                        <th>Action</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody th:each="taiXe: ${listTaiXe}">
                    <tr>
                        <td><a th:href="'taiXe/' + ${taiXe.taiXeId}" th:text="${taiXe.taiXeId}"></a></td>
                        <td th:text="${taiXe.ten}"></td>

                        <td th:text="${taiXe.maSoBangLai}"></td>

                        <td><a class="btn btn-warning" th:href="'taiXe/edit/'+${taiXe.taiXeId}" th:text="Sửa"></a></td>
                        <td><a class="btn btn-danger" th:href="'taiXe/delete/'+${taiXe.taiXeId}" th:text="Xóa"></a></td>
                    </tr>
                    </tbody>
                </table>
                    <a class="btn btn-primary" th:href="'taiXe/create'" th:text="Thêm"></a>
                	<a class="btn btn-primary" th:href="'taiXe'" th:text="'Danh'+' sách'"></a>
                	<a class="btn btn-primary" th:href="'taiXe/salaryDate'" th:text="'Tính'+' lương'"></a>

            </div>
        </div>
    </div>
    
</body>
</html>