<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
<title>Bảng lương tài xế</title>
<meta charset="UTF-8">
	<div th:insert="home::boot"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
	integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
	crossorigin="anonymous"></script>

</head>
<body>
	<nav th:insert="home::layout"></nav>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<br> <h3 > Bảng lương tài xế</h3>
			</div>
			<div class="panel-body">

			

				<!-- <table class="table table-bordered"> -->
					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Họ và tên</th>
								<th scope="col">Lương </th>
								
							</tr>
						</thead>
						<tbody th:each="taiXe: ${listTaiXe}">
							<tr>
								<td><a th:href="'taiXe/' + ${taiXe.taiXeId}"
									th:text="${taiXe.taiXeId}"></a></td>
								<td th:text="${taiXe.ten}"></td>
								<!--                        <td th:text="${taiXe.cmt}"></td>-->
								<td th:text="${taiXe.salary} + ' vnđ'"></td>
							</tr>
						</tbody>
					</table>
					
					<td><a class="btn btn-primary" th:href="@{http://localhost:8081/taiXe}"
						th:text="'Danh'+' sách' + ' tài' +' xế' "></a></td>
					<!--                    <td><a class="btn btn-info" th:href="@{/taixe}" th:text="Danh sách"></a></td>-->
					<!--                    <td><a class="btn btn-info" th:href="taixe" th:text="Danh sách"></a></td>-->
					<!--                <td><buton class="btn btn-primary" onclick=window.location(th:href="@{/taixe/create}"></buton></td>-->
			</div>
		</div>
	</div>
</body>
</html>
