<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Sửa xe khách</title>
    <div th:insert="home::boot"></div>
	<link th:href="@{/css/t.css}" rel="stylesheet" />
</head>
<body>
<nav th:insert="home::layout"></nav>
<div class="container contact-form">
            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
            </div>
            <form id="submit" method="post" action="/xeKhach/update/${xeKhach.xeKhachId}" th:action="@{'/xeKhach/update/'+${xeKhach.xeKhachId}}">
                <h3>Sửa xe khách</h3>
            
               <div class="row">
                    <div class="col-md-6"> 
                        <div class="form-group">
                        	<label>Biển số:</label>
                            <input type="text" name="bienSo" th:value="${xeKhach.bienSo}" class="form-control" required/>
                        </div>
                        <div class="form-group">
                        	<label>Màu xe:</label>
                            <input type="text" name="mauXe" th:value="${xeKhach.mauXe}" class="form-control" required/>
                        </div>
                        <div class="form-group">
                        	<label>Hãng sản xuất:</label>
                            <input type="text" name="hangSanXuat" th:value="${xeKhach.hangSanXuat}" class="form-control" required/>
                        </div>
                        
                        <div class="form-group">
                        	<label>Số năm sử dụng: </label>
                            <input type="text" name="soNamBaoDuoi" th:value="${xeKhach.soNamSuDung}" class="form-control" required/>
                        </div>
                       
                        
                        <div class="form-group">
                            <input type="submit" name="submit" class="btnContact" value="Sửa" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        	<label>Model: </label>
                            <input type="text" name="model" th:value="${xeKhach.model}" class="form-control" required/>
                        </div>
                        <div class="form-group">
                        	<label>Số ghế:</label>
                            <input type="text" name="soGhe" th:value="${xeKhach.soGhe}" class="form-control" required/>
                        </div>
                         <div class="form-group">
                         	<label>Đời xe:</label>
                            <input type="text" name="doiXe" th:value="${xeKhach.doiXe}" class="form-control" required/>
                        </div>
                        <div class="form-group" >
                        	<label>Ngày bảo dưỡng: </label>
                            <input type="date" name="ngayBaoDuong" class="form-control" th:value="${xeKhach.ngayBaoDuong}" placeholder="yyyy-mm-dd" min="2010-01-01" max="2020-12-31" required/>
                        </div>
                    </div>
                </div>
            </form>
	</div>
<!--  <div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>Sửa xe khách</strong>
        </div>
        <div class="panel-body">
            <form method="post" action="/xeKhach/update/${xeKhach.xeKhachId}" th:action="@{'/xeKhach/update/'+${xeKhach.xeKhachId}}">
                <input type="text" name="bienSo" th:value="${xeKhach.bienSo}" required/>
                <input type="text" name="mauXe" th:value="${xeKhach.mauXe}" required/>
                <input type="text" name="hangSanXuat" th:value="${xeKhach.hangSanXuat}" requirede/>
                <input type="text" name="doiXe" th:value="${xeKhach.doiXe}" required/>
                <input type="text" name="model" th:value="${xeKhach.model}" required/>
                <input type="text" name="soGhe" th:value="${xeKhach.soGhe}" required/>
                <input type="text" name="soNamSuDung" th:value="${xeKhach.soNamSuDung}" required/>
                <input type="date" name="ngayBaoDuong" min="1900-01-01" max="2000-12-31" th:value="${xeKhach.ngayBaoDuong}" required/>
                <input type="submit" name="submit" class="btn btn-success" value="Sửa"/>
            </form>
        </div>
    </div>
</div> -->
</body>
</html>