<!--Phai them 1 form dien ngay sau do moi get duoc doanh thu, giao su lam ho nhe.-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="vi">
<head>
    <title>Danh sách xe khách</title>
    <meta charset="UTF-8">
    <div th:insert="home::boot"></div>
</head>
<body>
<nav th:insert="home::layout"></nav>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading"><br>
            <strong>Tính doanh thu xe khách</strong>
        </div>
        <div class="panel-body">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Biển số</th>
                    <th>Doanh Thu</th>
                </tr>
                </thead>
                <tbody th:each="xeKhach: ${doanhThuXeKhachs}">
                <tr>
                    <td th:text="${xeKhach.xeKhachId}"></td>
                    <td th:text="${xeKhach.bienSo}"></td>
                    <td th:text="${xeKhach.doanhThu} + ' vnđ'"></td>
                </tr>
                </tbody>
            </table>
            <td><a class="btn btn-primary" th:href="'http://localhost:8081/xeKhach'" th:text="'Danh'+' sách'"></a></td>
        </div>
    </div>
</div>
</body>
</html>